<%- if controller_name != 'sessions' %>
  <h6><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください</h6><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h6><%= link_to "こちら", new_registration_path(resource_name) %>から会員登録を行なってください</h6><br />
<% end %>
