<div class="row mt-3">
  <div class="col-12 mx-auto">
    <h4 class="mb-3"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>

    <div id="edit">
      <%= render "edit", customer: @customer %>
    </div>
  </div>
</div>