<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="d-flex justify-content-left mb-5">配送先登録/一覧</h3>
  </div>
  <div class="errors">
    <%= render "layouts/errors", obj: @shipping_address %>
  </div>
  <%= render "form", shipping_address: @shipping_address %>
  <table class="table table-bordered col-8 mt-5">
    <thead>
      <tr class="table-active">
        <th class="col-2">郵便番号</th>
        <th class="col-4">住所</th>
        <th class="col-2">宛名</th>
        <th class="col-4" colspan="2"></th>
      </tr>
    </thead>
    <tbody id="address_index">
      <%= render "index", shipping_addresses: @shipping_addresses %>
    </tbody>
  </table>
</div>
