<div class="d-flex my-3">
  <h4>ショッピングカート</h4>
  <% unless @cart_items.empty? %>
    <div class="ml-auto">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  <% end %>
</div>
<% unless @cart_items.empty? %>
  <%= render "cart_items", total_price: @total_price %>
<% else %>
  <div class="mx-auto field">
    ショッピングカートは空です。
    <%= link_to "買い物を続ける", root_path, class: "btn btn-primary btn-md" %>
  </div>
<% end %>