@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'homes.scss';
@import 'searches.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); //Dancing Script
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap'); //Sawarabi Mincho
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap'); //Sawarabi Gothic
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import 'homes.scss';
@import 'footer.scss';
@import 'header.scss';
@import "items.scss";
@import 'admin_customer_edit.scss';

// main{
//   min-height: 100vh;
// }

main {
  margin-bottom: 56px;
}

input[type=radio] {
  accent-color: grey;
}

p, h6, h5, h4, h3, h2, th, td, .field, .actionss, .form-group,
.btn-sm, .btn-md, .btn-lg, .custom-select-sm{
  font-family: 'Sawarabi Gothic', sans-serif;
}

strong{
  font-weight: 100;
  text-shadow:
    0.3px 0.3px 0,
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
}
